.navbar-main {
    display: flex;
    justify-content: space-between;
    margin-left: 4vw;
    margin-bottom: 10px;
}

.navbar-first-link {
    margin-right: 10px;
    text-decoration: none;
}

.navbar-second-link {
    text-decoration: none;
}

