.navbar-main {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-bottom: 10px;
    align-items: center;
}

.navbar-first-link {
    margin-right: 10px;
    text-decoration: none;
}

.navbar-second-link {
    text-decoration: none;
}

