.Sidebar {
    height: 100vh;
    width: 106px;
    background-color: #2f4050;
    position: fixed;
    box-sizing: border-box;
    padding: 20px 0;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all .5s;
}

/*.Logohidden{
    visibility: hidden;
}

.Logohidden:hover{
    visibility: visible;
}*/

.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
}
.SidebarList .row {
    color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    position: relative;
    font-size: 21px;
    padding: 0.5em 2em;
    transition: all 0.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
.SidebarList .row:hover {
    color: #fff;
}

.SidebarList .row #icon:hover {
    color: #fff;
}

.Sidebar .row #icon {
    font-size: 10px;
    vertical-align: middle;
    margin-left: 50%;
    color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border: 3px solid;
    border-radius: 100%;
    transform: translateX(-50%);
    transition: all 0.2s 0.5s;
}

.Sidebar:hover {
    width: 300px;
    overflow-x: auto;
    overflow-y: auto;
}

.Sidebar:hover .row {
    color: rgba(255, 255, 255, 0.8);
}

.Sidebar:hover .row #icon {
    margin-left: 0;
}

.Sidebar:hover .row:nth-of-type(1) {
    transition: all 0.2s, color 1s 0.275s;
}

.Sidebar:hover .row:nth-of-type(1) #icon {
    transition: all 0.2s, margin-left 0.2s 0.275s;
}

.Sidebar:hover .row:nth-of-type(2) {
    transition: all 0.2s, color 1s 0.3s;
  }
  .Sidebar:hover .row:nth-of-type(2) #icon {
    transition: all 0.2s, margin-left 0.2s 0.3s;
  }
  .Sidebar:hover .row:nth-of-type(3) {
    transition: all 0.2s, color 1s 0.325s;
  }
  .Sidebar:hover .row:nth-of-type(3) #icon {
    transition: all 0.2s, margin-left 0.2s 0.325s;
  }
  .Sidebar:hover .row:nth-of-type(4) {
    transition: all 0.2s, color 1s 0.35s;
  }
  .Sidebar:hover .row:nth-of-type(4) #icon {
    transition: all 0.2s, margin-left 0.2s 0.35s;
  }
  .Sidebar:hover .row:nth-of-type(5) {
    transition: all 0.2s, color 1s 0.375s;
  }
  .Sidebar:hover .row:nth-of-type(5) #icon {
    transition: all 0.2s, margin-left 0.2s 0.375s;
  }
  .Sidebar:hover .row:nth-of-type(6) {
    transition: all 0.2s, color 1s 0.4s;
  }
  .Sidebar:hover .row:nth-of-type(6) #icon {
    transition: all 0.2s, margin-left 0.2s 0.4s;
  }
  .Sidebar:hover .row:nth-of-type(7) {
    transition: all 0.2s, color 1s 0.425s;
  }
  .Sidebar:hover .row:nth-of-type(7) #icon {
    transition: all 0.2s, margin-left 0.2s 0.425s;
  }
  .Sidebar:hover .row:nth-of-type(8) {
    transition: all 0.2s, color 1s 0.45s;
  }
  .Sidebar:hover .row:nth-of-type(8) #icon {
    transition: all 0.2s, margin-left 0.2s 0.45s;
  }
  .Sidebar:hover .row:nth-of-type(9) {
    transition: all 0.2s, color 1s 0.475s;
  }
  .Sidebar:hover .row:nth-of-type(9) #icon {
    transition: all 0.2s, margin-left 0.2s 0.475s;
  }
  .Sidebar:hover .row:nth-of-type(10) {
    transition: all 0.2s, color 1s 0.5s;
  }
  .Sidebar:hover .row:nth-of-type(10) #icon {
    transition: all 0.2s, margin-left 0.2s 0.5s;
  }